html { 
    padding: 20px; 
}

figure {
    font-family: 'Playfair Display', serif;
    margin: 0;
    max-width: 1024px;

    display: grid;
    grid-template-rows: 10% auto auto 10%;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "title"
        "image"
        "text"
        "button";

    align-self: center;
    justify-self: center;

    .title {
        grid-area: title;
        align-self: center;

        .title-container {
            display: inline-block;
            position: relative;

            h3 {
                color: rgba(#393939, 0.85);
                text-transform: uppercase;
                font-size: 28px;
                margin: 0;
            }    

            div {
                z-index: -1;
                background-color: rgba(255,255,255,0.85);

                position: absolute;

                // Size relative to title 
                width: 100%;
                height: 65%;
                
                // Position relative to title
                bottom: -10%;
                left: 5%;
            }
        }
    }

    img {
        grid-area: image;
        align-self: center;

        width: 100%;
    }

    .text {
        grid-area: text;
        align-self: center;

        .text-container {
            padding: 5px;
            background-color: rgba(#ffffff, 0.85);

            p {
                color: rgba(#393939, 0.85);
                text-align: center;
            }
        }
    }

    .button {
        grid-area: button;
        align-self: center;
        
        text-align: center;
        margin: 20px;

        button {
            font-family: 'Playfair Display', serif;
            text-transform: uppercase; 
            padding: 10px;
            border: solid 1px rgba(57,57,57,0.85);
            background-color: transparent;
        }

        button:hover {
            background-color: rgba(57,57,57,0.45);
        }
    }
}

/* iphone 5 */
@media only screen and (min-width: 320px) and (max-height: 568px) and (-webkit-device-pixel-ratio: 2) {

	figure .title .title-container  h3 { font-size: 24px; }
	figure .text .text-container p { font-size: 14px; }
}

/* iphone 6, 6s, 7, 8 */
@media only screen and (min-width: 375px) and (max-height: 668px) and (-webkit-device-pixel-ratio: 2) {
 
	figure .title .title-container  h3 { font-size: 26px; }
	figure .text .text-container p { font-size: 16px; }
} 

/* iphone X */
@media only screen and (min-width: 375px) and (max-height: 812px) and (-webkit-device-pixel-ratio: 3) {
 
	figure .title .title-container  h3 { font-size: 28px; }
	figure .text .text-container p { font-size: 20px; }
}

@media only screen and (min-width: 768px) {
    html {
        padding: 60px;
    }
    
    figure {
        display: grid;
        grid-template-rows: 2fr repeat(4, minmax(2fr, 10%)) 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        
        .title {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;

            align-self: center;
            justify-self: center;

            .title-container h3 {
                font-size: 42px;
            }
        }

        img {
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 5;

            justify-self: center;

            z-index: -2;
            max-width: 40vw;
        }

        .text {
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 4;
            grid-row-end: 6;
        }

        .button {
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row-start: 6;
            grid-row-end: 7;
        }
    }
}