main {
    display: block;
}

.glider-contain {
    height: 100%;

    .glider-prev {
        left: -50px;
    }

    .glider-next {
        right: -50px;
    }
}

.glider {
    figure {
        margin: 0;
        font-family: 'Playfair Display', serif;
        background-color: transparent;
        text-align: center;

        .title {
            position: relative;
            display: inline-block;

            h3 {
                text-transform: uppercase;
                font-size: 28px;
                margin: 0;
            }
    
            div {
                z-index: -1;
                background-color: rgba(255,255,255,0.85);

                position: absolute;

                // Size relative to title
                width: 100%;
                height: 65%;
                
                // Position relative to title
                bottom: -10%;
                left: 5%;
                right: 0;          
            }
        }

        .text {
            position: relative;

            div {
                z-index: -1;
                position: absolute;
                width: 95%;
                height: 115%;
                background-color: rgba(#ffffff, 0.85);

                left: 0;
                right: 0;
                margin: 0 auto;
            }
        }
        
        img {
            position: relative;
            z-index: -2;
            margin-top: -15px;
            margin-bottom: -50px; 
        }

        h3, p {
            color: rgba(57,57,57,0.85);
        }

        button {
            font-family: 'Playfair Display', serif;
            text-transform: uppercase; 
            padding: 10px;
            border: solid 1px rgba(57,57,57,0.85);
            background-color: transparent;
        }

        button:hover {
            background-color: rgba(57,57,57,0.45);
        }
    }
} 


@media only screen and (min-width: 768px) {
    .glider {
        figure {
            div {
                text-align: left;
            }

            .title {

                h3 {
                    font-size: 42px;
                }
            }

            img {
                width: 450px;
                margin-bottom: -115px; 
            }

            .text {
                display: inline-block;

                div {
                    height: 90%;
                    left: 0;
                    right: initial;
                }
            }
        }
    }
}


@media only screen and (max-width: 320px) { // iPhone 5/SE

    html {
        padding: 20px;
    }

	main {
		h3 {
			font-size: 24px;
		}
	
		p {
			font-size: 16px;
		}
    }
    
}