html, body {
    background: #e58c8a;
    background: linear-gradient(180deg, #eec0c6, #f6e8e5);
    /*background: linear-gradient(180deg, black, white);*/
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
    width: 100%;
    height: 100%;
    margin: 0;
}

circle {
  stroke: none;
  fill: red;
}

path.pencil {
  stroke-width: 2px;
  stroke: #666;
  stroke-linecap: round;
  fill: none;
  vector-effect: non-scaling-stroke;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}

.letter {
    position: relative;
    border: 1px solid #EEEEEE;
    border-radius: 2px;
    box-shadow: 1px 1px 0 #DDDDDD;
    display: block;
    line-height: 50px;
    margin: 2% auto;
    padding: 15px 20px 0 15px;
    resize: none;
    width: 530px;

    -webkit-box-shadow: 0 1rem 6rem 0.75rem rgba(46,43,55,0.575);
    -moz-box-shadow: 0 1rem 6rem 1rem rgba(46,43,55,0.575);
    box-shadow: 0 1rem 4rem 0.5rem rgba(0,0,0,0.350);

    background-image: -moz-linear-gradient(top , white, white 49px, #ddddff 0px); 
    background-image: -webkit-linear-gradient(top , white, white 49px, #ddddff 0);
    
    -webkit-background-size:  100% 50px;
    background-size: 100% 50px;
}

.bigger {
    font-size: 30px;
}

.btn {
    position: absolute;
}

.mobile-only {
    display: none;
}

#git-btn {
    top: 240px;
    left: 325px;
}

#in-btn {
    top: 400px;
    left: 260px;
}

#twit-btn {
    top: 400px;
    left: 360px;
}

#git-link {
    display: none;
}

#in-link {
    display: none;
}

#twit-link {
    display: none;
}

@media only screen and (max-width: 768px) {
    .container {
        display: initial;
    }

    .letter {
        width: initial;
    }

    .btn {
        display: none;
    }

    .mobile-only {
        display: initial;
    }

    #git-link {
        display: initial;
    }

    #in-link {
        display: initial;
    }

    #twit-link {
        display: initial;
    }
}