/* Background from: http://www.heropatterns.com/ */

html, body {
    font-family: 'Raleway', sans-serif;
    font-size: large;
    color: #555;
}


.project {
    text-align: center;
}
.project a {
    font-weight: bold;
}
.project-img {

}
.project-title {
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 10px;
}
.project-sources {
    padding-top: 10px;
}