html, body {
    font-family: 'Raleway', sans-serif;
    font-size: large;
    color: #555;
}
.header, .project {
    text-align: center;
}
.header p {
    font-size: 23px;
}
.projects {
    margin-bottom: 30px;
}
.project-title, .project-body {
    padding-bottom: 10px;
}
.project-title {
    font-size: 1.2rem;
    font-weight: bold;
}